<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edget" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Insert title here</title>

<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/budgetKo.css}" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">BudgetKo</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="#">Overview <span
							class="sr-only">(current)</span></a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Analytics</a></li>
					<li><a href="#">Export</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item</a></li>
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
					<li><a href="">More navigation</a></li>
				</ul>
				<ul class="nav nav-sidebar">
					<li><a href="">Nav item again</a></li>
					<li><a href="">One more nav</a></li>
					<li><a href="">Another nav item</a></li>
				</ul>
			</div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="panel panel-primary row placeholders">
					<div class="panel-heading">Budget List</div>
			
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="col-md-2">Name</th>
										<th class="col-md-1">Interval</th>
										<th class="col-md-3">Inclusive Dates</th>
										<th class="col-md-2">Total Allocation</th>
										<th class="col-md-1">Expected</th>
										<th class="col-md-1">Actual</th>
										<th class="col-md-2">Description</th>
									</tr>
								</thead>
								<tr th:each="budget : ${budgetList}">
									<td><a th:href="@{/budget/} + ${budget.id}" th:text="${budget.name}">name</a></td>
									<td th:text="${budget.intervalType.description}">interval type</td>
									<td th:text="${budget.inclusiveDates}">date inclusive</td>
									<td th:text="${budget.allocation}">allocation</td>
									<td>99999</td>
									<td>99999</td>
									<td th:text="${budget.description}">description</td>
								</tr>
							</table>
						</div>
						<div>
							<span><a th:href="@{/budget}">Add Budget Plan</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:src="@{/jquery/jquery-1.12.1.min.js}"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>